{
    "printWidth": 100,
    "useTabs": false,
    "tabWidth": 4,
    "bracketSameLine": true, 
    "tailwindStylesheet": "./src/styles/global.css",
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}