---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const artEntries = await getCollection("art");
    return artEntries.map((entry: CollectionEntry<"art">) => ({
        params: { art: entry.slug },
        props: { entry },
    }));
}

import Prose from "../../components/Prose.astro";
import Layout from "../../layouts/Layout.astro";

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title="art post">
    <main>
        <div class="m-auto w-[550px] 2xl:ml-8 2xl:w-[600px]">
            <Image
                src={entry?.data.image}
                alt="Large image of art"
                width={1100}
                class="self-start shadow-md shadow-stone-500"
                loading={"eager"}
            />
        </div>
        <div class="m-auto mt-4 w-full ">
            <Prose>
                <Content />
            </Prose>
        </div>
    </main>
</Layout>
