---
import { getCollection } from "astro:content"

export async function getStaticPaths() {
    const artEntries = await getCollection("art")
    return artEntries.map((entry) => ({
        params: { art: entry.slug },
        props: { entry }
    }))
}
const { art } = Astro.params

import { Image } from "astro:assets"
import Prose from "../../components/Prose.astro"
import Layout from "../../layouts/Layout.astro"

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title="art post">
    <main>
        <div class="m-auto w-fit">
            <Image
                src={entry?.data.image}
                alt="Large image of art"
                width={600}
                class="self-start shadow-md shadow-stone-500"
            />
        </div>
        <div class="w-full lg:w-2/3 m-auto mt-4">
            <Prose>
                <Content />
            </Prose>
        </div>
    </main>
</Layout>
