---
// https://jankraus.net/2024/04/05/how-to-build-a-simple-photo-gallery-with-astro/
// https://markjames.dev/blog/dynamically-importing-images-astro
// https://vite.dev/guide/features.html#glob-import
import { Image, Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allArt = (await getCollection("art")).sort(
    (a: CollectionEntry<"art">, b: CollectionEntry<"art">) => {
        return Date.parse(String(b.data.date)) - Date.parse(String(a.data.date));
    }
);
---

<Layout title="Art">
    <main class="mx-6 grid sm:mx-2 sm:grid-cols-2 2xl:w-[50lvw] 2xl:grid-cols-3">
        {
            allArt.map((art: any) => (
                <a href={"/gallery/" + art.slug} class="my-2 sm:m-2">
                    <Image
                        src={art.data.image}
                        alt="Gallery image"
                        // width={350}
                        class="w-fit self-start shadow-md shadow-stone-500"
                    />
                </a>
            ))
        }
    </main>
</Layout>
