---
// https://jankraus.net/2024/04/05/how-to-build-a-simple-photo-gallery-with-astro/
// https://markjames.dev/blog/dynamically-importing-images-astro
// https://vite.dev/guide/features.html#glob-import
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import ArtPreview from "../../components/ArtPreview.astro";
import Layout from "../../layouts/Layout.astro";

const allArt = (await getCollection("art")).sort(
    (a: CollectionEntry<"art">, b: CollectionEntry<"art">) => {
        return Date.parse(String(b.data.date)) - Date.parse(String(a.data.date));
    },
);
---

<Layout title="Art">
    <main
        class="mx-auto grid w-11/12 items-end justify-center gap-y-8 sm:mx-0 sm:w-full sm:grid-cols-2 sm:justify-normal sm:gap-6 sm:px-4 lg:w-[55lvw] 2xl:grid-cols-3">
        {allArt.map((art) => <ArtPreview art={art} />)}
    </main>
</Layout>
