@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-[#FAF9F6];
    @apply font-serif;
  }
  h1 {
    @apply text-2xl;
  }

  a.rich-link {
    @apply border border-black border-2 rounded p-4 w-2/6 m-2
  }
}

@layer components {
  a.nav-link {
    @apply border border-0 hover:border-b-2 border-b-black;
  } 
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
