@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #c1c1c1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: #7a7a7a;
  }

  /* Fallback for Firefox */
  .scrollbar {
    -moz-scrollbar-width: thin;
    -moz-scrollbar-color: #7a7a7a #c1c1c1;
  }

}