---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { RegularMasonryGrid as MasonryGrid, Frame } from '@masonry-grid/react'
import ArtMasonryGrid from "../../components/ArtMasonryGrid.tsx";


// grab every image file under assets/art
const imageModules = import.meta.glob<ImageMetadata>("../../assets/art/*.{png,jpg,jpeg}", { eager: true, import: "default"  });
const images: any = Object.values(imageModules);

---

<Layout title="Art">
    <main class="lg:col-span-9 lg:col-start-4 col-span-12 ">
        <ArtMasonryGrid artEntries={images} client:load/>
    </main>
    <script type="module" src="/scripts/imageZoom.js" defer></script>
</Layout>
