---
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"

const art: any[] = await Astro.glob("../data/art/*").then((files) => {
    return files.map((file) => file.default)
})
---

<Layout title="Art">
    <main>
        <div class="mx-auto flex w-3/4 flex-row flex-wrap justify-between">
            {
                art.map((img) => (
                    <Image
                        src={img}
                        alt="fsd"
                        width="400"
                        class="self-start shadow-md shadow-stone-500"
                    />
                ))
            }
        </div>
    </main>
</Layout>
