---
import Layout from '../layouts/Layout.astro';
import books from "../bookData/books.json"
import Card from '../components/Card.astro';

const read = books.filter(book => book['Exclusive Shelf'] == "read")
const currentBook = books.filter(book => book['Exclusive Shelf'] == "currently-reading")[0]
---

<Layout title="Books">
	<main>
        <div class="w-full m-auto content-center">
            <p>Currently reading</p>
            <Card book={currentBook}/>
        </div>

        <p>Read</p>
        <div class="lg:grid-cols-4 inline-grid grid-cols-2 md:grid-cols-3">
            {read.map((book: any) => {
                return(
                    <Card book={book}/>
                )
            })}
        </div>
	</main>
</Layout>