---
import Card from "../components/Card.astro";
import books from "../data/books.json";
import Layout from "../layouts/Layout.astro";

const readings = books.sort((a, b) => b["Date Read"].localeCompare(a["Date Read"]));

const currentBook = books.filter((book) => book["Exclusive Shelf"] == "currently-reading")[0];
const isbn = currentBook.ISBN13.replace(/\D/g, "");
---

<Layout title="Books">
    <main class="mx-auto sm:w-11/12 md:w-3/4 lg:w-2/3 xl:w-1/2 2xl:w-1/3">
        <p class="justify-left mb-14 ml-4 mr-0 w-full text-left font-serif text-5xl font-bold">
            Currently Reading
        </p>

        <div class="justify-left mt-2 flex h-72 px-4">
            <img
                src=`https://covers.openlibrary.org/b/isbn/${isbn}-M.jpg`
                alt="Book cover"
                loading="eager"
            />
            <div class="ml-4 grow content-center text-left text-fade">
                <p class="font-serif text-3xl font-bold">{currentBook.Title}</p>
                <p class="pb-3 italic">by {currentBook.Author}</p>
            </div>
        </div>
        <!-- <div class="text-mono bg-accent bottom-0 flex border border-x-0 border-b-0 border-solid border-[#373737] text-black">
            <p>Currently Reading</p>
        </div> -->

        <p
            class="justify-left mb-14 ml-4 mt-20 w-full text-left font-serif text-5xl font-bold xl:text-nowrap">
            Recent Readings and Impressions
        </p>

        <div class="justify-left grid grid-cols-1">
            {
                readings.map((book: any, index: number) => {
                    return <Card book={book} />;
                })
            }
        </div>
    </main>
</Layout>
