---
import type { CollectionEntry } from "astro:content";
import { getCollection} from 'astro:content';
import Book from "../components/Book.astro";
import Layout from "../layouts/Layout.astro";

const collection = await getCollection('books');

const readings: CollectionEntry<"books">[] = collection.sort((a:CollectionEntry<"books">,b: CollectionEntry<"books">) => b.data["Date Read"].localeCompare(a.data["Date Read"]))

const currentBook = collection.find((book: CollectionEntry<"books">) => book.data["Exclusive Shelf"] == "currently-reading");
let isbn: string | undefined = "";
if (!isNaN(Number(currentBook?.data.ISBN13[4]))) {
    isbn = currentBook?.data.ISBN13.replace(/\D/g, "");
} else if (!isNaN(Number(currentBook?.data.ISBN[4]))) {
    isbn = currentBook?.data.ISBN.replace(/\D/g, "");
}
---

<Layout title="Books">
    <main class="sm:w-11/12 lg:w-full">
        <p class="mb-8 ml-4 text-left font-serif text-4xl font-semibold">Currently Reading</p>

        <div class="mx-4 mb-16 flex sm:h-72">
            <img
                src=`https://covers.openlibrary.org/b/isbn/${isbn}-M.jpg`
                alt="Book cover"
                width="174"
            />
            <div class="ml-4 content-end text-left sm:content-center">
                <p class="font-serif text-3xl">{currentBook?.data.Title}</p>
                <p class="text-lg italic">by {currentBook?.data.Author}</p>
            </div>
        </div>
        <!-- <div class="text-mono mb-12 mx-4 target:bg-accent bottom-0 flex border border-x-0 border-b-0 border-solid border-[#373737] text-black">
            <p>Currently Reading</p>
        </div> -->

        <p class="mb-8 ml-4 text-left font-serif text-4xl font-semibold xl:text-nowrap">
            Recent Readings and Impressions
        </p>

        <div class="grid max-w-prose grid-cols-1">
            {
                readings.map((book) => {
                    return <Book book={book} />;
                })
            }
        </div>
    </main>
</Layout>
