---
import Layout from '../layouts/Layout.astro';
import books from "../bookData/books.json"

import BookCard from "../components/BookCard.tsx"

const read = books.filter(book => book['Exclusive Shelf'] == "read")
const currentBook = books.filter(book => book['Exclusive Shelf'] == "currently-reading")[0]
---

<Layout title="Books">
	<main>
        <div class="w-full m-auto content-center">
            <p class="text-lg font-bold">Currently reading</p>
            <BookCard book={currentBook} client:load/>
        </div>

        <p class="text-lg font-bold">Read</p>
        <div class="inline-grid grid-cols-2 md:grid-cols-3">
            {read.map((book: any, index: number) => {
                return(
                    // <Card book={book}/>
                    <BookCard key={index} book={book} client:load/>
                )
            })}
        </div>
	</main>
</Layout>