---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Directory">
    <main class="mx-4 max-w-prose sm:mx-auto mt-8">
        <p class="mb-8 text-5xl font-bold">Welcome back to the Blogosphere.</p>
        <p class="mb-4">
            In an era of algorithmic feeds that may be
            <a
                class="underline"
                target="_blank"
                href="https://www.npr.org/2024/01/17/1224955473/social-media-algorithm-filterworld?ref=artblog.ghost.io">
                flattening our culture</a
            >, I want to provide some content that I enjoy and is written by people I know!
        </p>

        <ul class="ml-4 list-outside list-disc space-y-2">
            <li>
                <a
                    class="underline"
                    href="https://www.halftonestudio.art/blog-posts?ref=artblog.ghost.io">
                    Halftone Studio Blog</a
                > - Jake Taplin and Ramon Hurtado started this blog together. They write about learning
                to draw and art history from the 19th century. I consider these guys to be my art teachers.
            </li>
            <li>
                <a class="underline" href="https://johnallbritten.com/?ref=artblog.ghost.io"
                    >John Allbritten</a
                > - my friend from college. He writes interesting stuff about history, science, and religion
                as well as book reviews.
            </li>
            <li>
                <a class="underline" href="https://www.dominicmkennedy.com/?ref=artblog.ghost.io"
                    >Dominic Kennedy</a
                > - my friend from college. He's a computer science Grad student that writes about his
                research and gives album reviews.
            </li>
        </ul>
    </main>
</Layout>
