---
import { Image, Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import books from "../data/books.json";
import { getEntry, getCollection, type CollectionEntry } from "astro:content";

// const latestArt = await getEntry('art', 'enterprise');

const latestArt = (await getCollection("art")).sort(
    (a: CollectionEntry<"art">, b: CollectionEntry<"art">) => {
        return Date.parse(String(b.data.date)) - Date.parse(String(a.data.date));
    }
)[0];

const artDate = latestArt.data.date.toLocaleDateString();

const currentBook = books.filter((book) => book["Exclusive Shelf"] == "currently-reading")[0];
---

<Layout title="Home">
    <main class="mx-4 mt-2 font-serif">
        <p class="text-4xl mb-8">Hello, I'm Jacob.</p>
        <p class="mb-16 max-w-prose text-wrap font-sans text-lg ">
            I'm a software developer for the United States Postal Service living in New York. In my
            free time I enjoy reading and drawing.
        </p>

        <div class="relative">
            <p class="absolute -left-48 bottom-28 -rotate-90 text-6xl lg:-left-44">
                The Latest
            </p>
            <div class="flex flex-col flex-nowrap gap-8 sm:w-[70lvw] sm:flex-row sm:gap-4">
                <div class="h-96 overflow-hidden object-cover text-right sm:h-[27rem] sm:w-64">
                    <span class="font-extralight">{artDate}</span>
                    <Image
                        class="h-full w-full object-cover shadow-md"
                        src={latestArt.data.image}
                        alt="Most recent art"
                        width={300}
                    />
                </div>
                <p class="relative text-5xl font-bold sm:h-[27rem] sm:w-[30rem] md:text-7xl">
                    Currently reading
                    <span class="font-normal italic">{currentBook.Title}</span>
                    by
                    <span class="underline decoration-dotted">{currentBook.Author}</span>
                </p>
            </div>
        </div>
    </main>
</Layout>
