---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import books from "../assets/books.json";
import Layout from "../layouts/Layout.astro";
import type { ImageMetadata } from "astro";

// const latestArt = (await getCollection("art")).sort(
//     (a: CollectionEntry<"art">, b: CollectionEntry<"art">) => {
//         return Date.parse(String(b.data.date)) - Date.parse(String(a.data.date));
//     },
// )[0];

const latest_images: any = Object.values(
    import.meta.glob<ImageMetadata>("/src/assets/latest/*", { eager: true, import: "default" }),
);

---

<Layout title="JacobLDraws">
    <main class="">
        <div
            class="mb-2 h-[1400px] w-full bg-cover bg-top"
            style="background-image: url(/banner_image2.jpeg)">
            <div class="w-2/3 pl-4 pt-12 text-left text-white sm:pt-16">
                <p
                    class="w-11/12 font-serif text-4xl sm:w-2/3 sm:text-5xl md:text-6xl 2xl:text-7xl">
                    Want a portrait made, art lessons, or to buy my work?
                </p>
                <a href="mailto:jacobldraws@icloud.com">
                    <button class="mt-2 rounded-sm bg-white px-4 py-2 font-bold text-black sm:mt-8">
                        Contact Me
                    </button>
                </a>
            </div>
        </div>

        <div class="relative">
            <p class="absolute -left-48 top-[7.5rem] hidden -rotate-90 text-6xl xl:inline">
                The Latest
            </p>
            <span class="ml-2 font-extralight md:hidden">Art à la mode</span>
            <div
                class="grid w-full grid-cols-1 justify-items-center gap-1 sm:grid-cols-2 sm:gap-2 lg:grid-cols-3 2xl:grid-cols-4">
                {
                    latest_images.map((img: ImageMetadata) => (
                        <img
                            src={img.src}
                            alt="Most recent blog image"
                            width={268}
                            class="object-cover sm:h-[38rem] lg:h-[28rem] w-full"
                        />
                    ))
                }
                <!-- <p class="relative text-5xl font-bold sm:h-[27rem] sm:w-[30rem] md:text-7xl">
                    I'm currently reading
                    <span class="font-normal italic">{currentBook.Title}</span>
                    by
                    <span class="underline decoration-dotted">{currentBook.Author}</span>
                </p> -->
            </div>
        </div>
    </main>
</Layout>
