---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const art_images: any = Object.values(
    import.meta.glob<ImageMetadata>("/src/assets/selectedWork/*", {
        eager: true,
        import: "default",
    }),
);
---

<Layout title="JacobLDraws">
    <main class="col-span-12 lg:col-span-10 lg:pr-4">
        <div class="relative">
            <div class="grid w-full grid-cols-12 gap-1 sm:gap-4">
                <div
                    class="relative col-span-12 row-span-3 mb-2 h-[70vh] min-h-[500px] bg-cover bg-top lg:col-span-8 lg:h-auto"
                    style="background-image: url(/banner_image2.jpeg)">
                    <div
                        class="pointer-events-none absolute inset-0 bg-gradient-to-t from-black/70 via-black/20 to-transparent">
                    </div>
                    <div class="relative flex h-full flex-col justify-end px-6 pb-16 text-left text-white sm:px-10 sm:pb-20 lg:justify-center lg:pb-0">
                        <p
                            class="max-w-md font-serif font-medium text-4xl leading-tight text-secondary sm:max-w-lg sm:text-5xl md:text-6xl md:tracking-tight lg:max-w-xl 2xl:text-7xl dark:text-primary-dark-bright">
                            Want art lessons or to commission work?
                        </p>
                        <a href="/contact" class="mt-8 w-fit">
                            <button
                                class="border-[1px] border-secondary bg-secondary px-8 py-4 font-medium tracking-wide text-primary transition-colors duration-200 hover:bg-transparent hover:text-secondary">
                                Contact Me
                            </button>
                        </a>
                    </div>
                </div>
                {
                    art_images.map((img: ImageMetadata) => (
                        <div class="col-span-12 sm:col-span-6 lg:col-span-4">
                            <Image
                                src={img.src}
                                alt="Most recent blog image"
                                width={268}
                                height={358}
                                class="w-full object-cover sm:h-[38rem] lg:h-[28.5rem]"
                            />
                        </div>
                    ))
                }
            </div>
        </div>
    </main>
</Layout>
