---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home">
	<main>
		<p class="text-2xl">Hello, I'm Jacob.</p>
		<p class="max-w-prose">
			Currently, I'm a software developer for the United States Postal Service
            living in New York City.

            In my free time I enjoy reading and drawing.
		</p>
        <!-- <Card
            href="https://docs.astro.build/"
            title="Documentation"
            body="Learn how Astro works and explore the official API docs."
        /> -->
	</main>
</Layout>
