---
// https://jahir.dev/blog/astro-reading-time
import { Image } from "astro:assets";
// import { getReadingTime } from '../scripts/reading-time';
import type { CollectionEntry } from "astro:content";

interface Props {
    art: CollectionEntry<"art">;
}

const { art } = Astro.props;

// const readingTime = getReadingTime(art.body);
---

<a href={"/gallery/" + art.id} class="mx-auto h-fit hover:underline">
    <Image
        src={art.data.image}
        alt="Gallery image"
        width={390}
        class="shadow-md shadow-stone-500 dark:rounded-lg dark:shadow-none"
    />
    <!-- <span class="float-left text-xs italic pl-1 mt-1">{readingTime}</span> -->
    <div class="flex flex-col font-serif">
        <span class="mt-1 pr-1 text-sm">{String(art.data.date.toISOString().slice(0, 10))}</span>
        <div class="inline-block">
            <!-- <p class="... float-left line-clamp-1 max-w-96 truncate text-wrap break-all text-sm">
                {art.body}
            </p> -->
            <span class="text-lg font-bold">{art.data.title}</span>
            <span class="italic text-sm overflow-hidden">...Read</span>
        </div>
    </div>
</a>
