---
// https://jahir.dev/blog/astro-reading-time
import { Image } from "astro:assets";
// import { getReadingTime } from '../scripts/reading-time';
import type { CollectionEntry } from "astro:content";

interface Props {
    art: CollectionEntry<"article">;
}

const { art } = Astro.props;

// const readingTime = getReadingTime(art.body);
---

<a
    href={"/writing/" + art.id}
    class="mb-2 decoration-primary/50 hover:underline dark:decoration-primary-dark/50">
    <Image
        src={art.data.image}
        alt="Gallery image"
        width={300}
        class="w-full border-[1px] object-cover p-1 shadow-md shadow-stone-500 sm:h-[48vw] lg:h-[24vw] dark:shadow-none"
    />
    <div class="flex flex-col">
        <div class="flex flex-col">
            <span class="mb-0 mt-1 text-wrap font-serif text-lg font-bold tracking-wider"> {art.data.title} </span
            >
            <span class="pr-1 font-serif text-sm"> {String(art.data.date.toISOString().slice(0, 10))} </span
            >
            <p class="... float-left mt-1 line-clamp-2 w-full truncate text-wrap break-all text-sm">
                {art.body}
            </p>
        </div>
    </div>
</a>
