---
interface Props {
    book: any;
}

const { book } = Astro.props;
---

<div
    class={`${book["My Review"] ? "row-span-2 max-h-[20.75rem] overflow-y-scroll" : "h-36"}
                grid cursor-default border border-solid border-black text-xl p-4 m-5 rounded-md overflow-y-clip `}
>
    <div>
        <p class="font-bold">{book.Title}</p>
        <p class="italic pb-3 text-sm">by {book.Author}</p>
        <p class="whitespace-pre-line">{book["My Review"]}</p>
    </div>
</div>
