---
import "../styles/tailwind.css";

interface Props {
    book: any;
}

const { book } = Astro.props;
---

<div class="mb-12 cursor-default text-lg">
    <div
        class="scrollbar h-fit max-h-96 overflow-y-auto rounded-t-md border border-b-0 border-solid border-custom px-4 pb-2 text-fade">
        <div>
            <p class="sticky top-0 bg-custom bg-opacity-95 font-serif text-3xl text-fade">
                {book.Title}
            </p>
            <p class={!book["My Review"] ? "italic" : "pb-2 italic"}>by {book.Author}</p>
            <p class="whitespace-pre-line">{book["My Review"]}</p>
        </div>
    </div>
    {
        book["Date Read"] ? (
            <div class="bottom-0 mx-4 flex border border-x-0 border-b-0 border-solid border-fade text-fade">
                <p class="grow">Read {book["Date Read"]}</p>
                <p class="pr-2 text-right">{book["My Rating"]}/5</p>
            </div>
        ) : (
            <div class="bottom-0 mx-4 border border-x-0 border-b-0 border-solid border-fade">
                <p class="h-6 grow pl-2" />
            </div>
        )
    }
</div>
