---
interface Props {
	title: string;
	author: string;
}

const { title, author } = Astro.props;
console.log(title)
---

<div class="border border-solid border-black w-32 h-32 m-5">
    <h2>
        {title}
        <!-- <span>&rarr;</span> -->
    </h2>
    <p>
        by {author}
    </p>
</div>
