---
interface Props {
    book: any;
}

const { book } = Astro.props;
---
<!-- TODO: possibly add "Read more" text to expand reviews. Scrolling causes too many problems -->
<div class="mb-12 cursor-default text-lg">
    <div
        class="px-4 pb-2">
        <div>
            <p class="font-serif text-3xl">
                {book.Title}
            </p>
            <p class={!book["My Review"] ? "italic" : "pb-2 italic"}>by {book.Author}</p>
            <p class="whitespace-pre-line">{book["My Review"]}</p>
        </div>
    </div>

    <div class="bottom-0 mx-4 flex border-t border-primary">
    {
        book["Date Read"] ? (
                <p class="grow">Read {book["Date Read"]}</p>
                <p class="pr-2 text-right">{book["My Rating"]}/5</p>
        ) : (
                <p class="h-6 grow pl-2" />
        )
    }
    </div>
</div>
