---
import { getEntry, render } from "astro:content";

import Prose from "../../components/Prose.astro";
import Layout from "../../layouts/Layout.astro";

const entry: any = await getEntry("projects", "comic-list-webscraper");
const { Content } = await render(entry);
---

<Layout title={entry.data.title}>
    <main class="mx-4 mt-2">
        <div class="m-auto w-full">
            <Prose>
                <Content />
            </Prose>
        </div>
    </main>
</Layout>
