---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const projects = await getCollection("projects");
---

<Layout title="Art">
    <main class="mx-4 mt-2">
        {
            projects.map((project) => (
                <div class="h-fit rounded-md font-mono hover:bg-fade hover:text-white">
                    <a href={"/projects/" + project.data.title}>
                        <Image src={project.data.image} alt="Gallery image" class="w-full" />
                        <div class="flex flex-1 flex-col p-3 md:p-4">
                            <p class="mb-4 text-2xl font-medium">{project.data.title}</p>
                            <p class="mb-2 font-sans text-lg">{project.data.description}</p>
                            <div class="flex flex-row gap-4 text-sm">
                                {project.data.tags.map((tag) => (
                                    <p>{tag}</p>
                                ))}
                            </div>
                        </div>
                    </a>
                </div>
            ))
        }
    </main>
</Layout>
