---
import Analytics from '@vercel/analytics/astro'
import "@fontsource-variable/inter";
import "@fontsource-variable/playfair-display";
interface Props {
    title: string;
}

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Jacob Armiger</title>
    </head>
    <body class="relative bg-custom text-fade sm:flex lg:m-auto lg:max-w-prose">
        <div class="sticky top-0 z-10 bg-inherit text-center sm:border-none border border-b-fade sm:h-44 lg:absolute lg:-left-28">
            <nav
                class="my-1 flex justify-around text-right text-lg underline-offset-4 sm:mx-4 sm:mt-4 sm:h-44 sm:w-24 sm:flex-col">
                <a href="/" class="hover:underline font-serif font-medium">home</a>
                <a href="/books" class="hover:underline font-serif font-medium">books</a>
                <a href="/gallery" class="hover:underline font-serif font-medium">art</a>
                <a href="/projects" class="hover:underline font-serif font-medium">projects</a>
            </nav>
        </div>
        <div class="w-full px-2 pb-10 pt-4">
            <slot />
            <Analytics/>
        </div>
    </body>
</html>
