---
import Analytics from "@vercel/analytics/astro";
import "@fontsource-variable/inter";
import "@fontsource-variable/playfair-display";
interface Props {
    title: string;
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Jacob Armiger</title>
        <Analytics />
    </head>
    <body class="bg-secondary text-primary dark:bg-secondary-dark dark:text-primary-dark">
        <nav
            class="flex gap-8 items-center border-primary bg-inherit text-center text-lg mx-2 sm:text-xl my-2 sm:my-4 underline-offset-4 lg:m-auto lg:fixed lg:mx-4 lg:mt-16 lg:h-68 lg:w-36 lg:flex-col lg:border-r-2 dark:border-primary-dark">
            <a href="/" class="font-bold font-serif hover:underline">JacobLDraws</a>
            <!-- <a href="/" class="font-serif font-medium hover:underline">home</a> -->
            <a href="/gallery" class="font-serif font-medium hover:underline">ART</a>
            <a href="/books" class="font-serif font-medium hover:underline">BOOKS</a>
            <a href="/directory" class="font-serif font-medium hover:underline">DIRECTORY</a>
            <!-- <a href="/projects" class="font-serif font-medium hover:underline">projects</a> -->
            <a href="https://www.instagram.com/jacobldraws/" target="_blank" class="lg:mx-auto"><img src="/public/Instagram_Glyph_Black.svg" width="20"></a>
        </nav>
        <div class="mx-auto lg:w-2/3">
            <slot />
        </div>
    </body>
</html>
