---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="sm:flex mb-10">
        <div class="sm:h-screen text-center border border-solid sticky top-0 bg-white">
            <nav class="flex justify-around text-xl sm:w-44 sm:flex-col h-1/4 my-2 sm:mt-8">
                <a href="/" class="text-2xl font-bold">Jacob Armiger</a>
                <a href="/books">Books</a>
                <a href="/art">Art</a>
                <a href="/">Projects</a>
            </nav>
        </div>
        <div class="mt-8 mx-2 md:ml-8">
            <slot/>
        </div>
	</body>
</html>