---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex">
        <div class="h-screen text-center w-64 border border-solid">
            <nav class="flex flex-col h-1/4 mt-8">
                <a href="/">Books</a>
                <a href="/">Art</a>
                <a href="/">Projects</a>
            </nav>
        </div>
        <div class="mt-8 ml-16">
            <slot/>
        </div>
	</body>
</html>