---
import Analytics from "@vercel/analytics/astro";
import "@fontsource-variable/inter";
import "@fontsource-variable/playfair-display";
interface Props {
    title: string;
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Jacob Armiger</title>
        <Analytics />
    </head>
    <body
        class="text-primary bg-secondary dark:text-primary-dark dark:bg-secondary-dark relative sm:flex lg:m-auto lg:max-w-prose">
        <div
            class="border-primary dark:border-primary-dark sticky top-0 z-10 border-b bg-inherit text-center sm:h-44 sm:border-none sm:bg-transparent lg:absolute lg:-left-28">
            <nav
                class="my-1 flex justify-around text-right text-lg underline-offset-4 sm:mx-4 sm:mt-4 sm:h-44 sm:w-24 sm:flex-col">
                <a href="/" class="font-serif font-medium hover:underline">home</a>
                <a href="/books" class="font-serif font-medium hover:underline">books</a>
                <a href="/gallery" class="font-serif font-medium hover:underline">art</a>
                <a href="/projects" class="font-serif font-medium hover:underline">projects</a>
            </nav>
        </div>
        <div class="w-full px-2 pb-10 pt-4">
            <slot />
        </div>
    </body>
</html>
