---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="mb-10 sm:flex">
        <div class="sticky top-0 border border-solid bg-white text-center sm:h-screen">
            <nav class="my-2 flex h-1/4 justify-around text-xl sm:mt-8 sm:w-44 sm:flex-col">
                <a href="/" class="text-2xl font-bold">Jacob Armiger</a>
                <a href="/books">Books</a>
                <a href="/gallery">Art</a>
                <a href="/">Projects</a>
            </nav>
        </div>
        <div class="mt- w-full px-2">
            <slot />
        </div>
    </body>
</html>
