---
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const articles = await getCollection('article');
    return articles.map((entry) => ({
        params: { slug: entry.id },
        props: { entry },
    }));
}


import Prose from "../../components/Prose.astro";
import Layout from "../../layouts/Layout.astro";

const { entry } = Astro.props as { entry: CollectionEntry<"article"> };
const { Content } = await render(entry);
---

<Layout title={entry.data.title ?? "Writing Post"}>
    <main class="col-span-12 lg:col-start-4 lg:col-span-6 px-4 sm:px-6 lg:px-0 page-top">
        {entry.data.image ? (
            <figure class="mx-auto w-full">
                <Image
                    src={entry.data.image}
                    alt="Cover image"
                    width={1200}
                    format="webp"
                    quality={82}
                    loading="eager"
                    class="dark:rounded-sm dark:shadow-none shadow-md shadow-stone-500 mx-auto h-auto max-h-[75vh] w-full max-w-full object-contain lg:max-w-[75vw]"
                />
            </figure>
        ) : null}
        <div class="mt-4">
            <Prose>
                {entry.data.reference ? (
                    <div class="text-sm mb-5">
                        <p class="my-0">Reference:</p>
                        <a href={entry.data.reference_url} class="italic">
                            {entry.data.reference}
                        </a>
                    </div>
                ) : null}
                <h1 class="mb-0 mt-4">{entry.data.title}</h1>
                <p class="text-sm italic pr-1 mt-1">{String(entry.data.date.toISOString().slice(0, 10))}</p>
                <Content />
            </Prose>
        </div>
    </main>
</Layout>
