---
// https://jankraus.net/2024/04/05/how-to-build-a-simple-photo-gallery-with-astro/
// https://markjames.dev/blog/dynamically-importing-images-astro
// https://vite.dev/guide/features.html#glob-import
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BlogCard from "../../components/BlogCard.astro";
import Layout from "../../layouts/Layout.astro";
import RssFeedButton from "../../components/RssFeedButton.astro";

const articles = (await getCollection("article")).sort(
    (a: CollectionEntry<"article">, b: CollectionEntry<"article">) => {
        return Date.parse(String(b.data.date)) - Date.parse(String(a.data.date));
    },
);
---

<Layout title="Writing">
    <main class="col-span-12 px-4 sm:px-6 lg:col-start-4 lg:col-span-6 lg:px-0 page-top">
        <div class="mb-4 flex flex-wrap items-end gap-x-3 gap-y-2 border-primary pb-6 dark:border-primary-dark">
            <p class="text-left text-5xl font-bold leading-none xl:text-nowrap">Articles</p>
            <RssFeedButton />
        </div>

        <div class="grid gap-y-12 sm:grid-cols-2 sm:gap-6 sm:gap-y-8 lg:grid-cols-3">
            {articles.map((art) => <BlogCard art={art} />)}
        </div>
    </main>
</Layout>
